* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #161623;
    color: white;
    margin-top: 150px;
    margin-bottom: 310px;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-toggler {
    outline: none !important;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background: #161623;
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    order: 2;
    border: 10px #F3B94E;
    box-shadow: #F3B94E;
}

.wrapper h2 {
    position: center;
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 216, 113);
}

.wrapper h2::before {
    content: '';
    position: center;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #fdc938;
}

.wrapper form .input-box {
    width: 600px;
    height: 52px;
    margin: 18px 0;
}

.wrapper input::placeholder {
    color: white;
}

form .input-box input {
    align-items: center;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(255, 216, 113);
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
    background-color: #161623;
}

.input-box input:focus,
.input-box input:valid {
    border-color: rgb(248, 198, 59);
}

form h3 {
    color: rgb(255, 216, 113);
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.input-box.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #fff;
    cursor: pointer;
}

.input-box.button input:hover {
    background: rgb(255, 216, 113);
}

form .text h3 {
    color: rgb(255, 216, 113);
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color: rgb(255, 216, 113);
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}

.title {
    align-items: center;
    font-weight: 300;
    font-size: 35px;
    color: white;
    position: center;
    order: 1;
}

.wrapper .End-div {
    padding: 9px 25px;
    background-color: #161623 !important;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: black;
    font-weight: 900;
    display: flex;
    justify-content: center !important;
    order: 3;
    text-align: center !important;
    align-items: center;
}

.End-div input {
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.End-div input {
    padding: 9px 25px;
    background-color: #fdc938;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: black;
    font-weight: 900;
}

.End-div input:hover {
    background-color: rgb(255, 216, 113);
}

.login-now {
    font-size: 20px;
}

.pending-donation {
    margin-top: 100px;
    margin-left: 25px;
}

.pending-donation h5 {
    font-weight: bold;
    margin-left: 25px;
}

.pending-donation h4 {
    font-weight: bold;
}

@media (max-width:550px) {
    .wrapper form .input-box {
        width: 350px;
        height: 52px;
        margin: 18px 0;
    }
}

@media (max-width:650px) {
    .wrapper form .input-box {
        width: 450px;
        height: 52px;
        margin: 18px 0;
    }
}


/*footer section*/

.footer {
    margin-top: 255px;
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 290px;
}


/* Taller footer on small screens */

@media (max-width:750px) {
    body {
        margin-bottom: 500px;
    }
    .footer {
        height: 290px;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */

footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

.copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    font-weight: 400;
    font-size: 1em;
}

.navbar-brand,
.footer .container .row .col-md-5 h5 {
    position: top;
    top: 0;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    opacity: 0.8;
    transform: rotateX(-90deg);
    animation: navbar-brand 1.2s ease 1 normal forwards;
    transition: all 2s ease-in;
    display: flex;
    flex: row;
    /*-webkit-animation-direction: normal;
    */
}

.navbar-brand h1:hover {
    color: gold;
}

@keyframes navbar-brand {
    10% {
        opacity: 0.5;
        color: gold;
    }
    20% {
        opacity: 0.8;
        top: 3.75em;
        transform: rotateX(-360deg);
        color: goldenrod;
    }
    100% {
        opacity: 1;
        top: 4.50em;
        transform: rotateX(360deg);
    }
}

.bg-dark,
.navbar-expand-lg,
.navbar {
    background: linear-gradient(45deg, #080719, #B9601C, #F3B94E);
    animation: change 10s ease-in infinite;
}

@keyframes change {
    0% {
        background-position: 20% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 900 !important;
}