   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   html {
       position: relative;
       min-height: 100%;
   }
   
   body {
       height: 100vh;
       font-family: 'Roboto', sans-serif;
       background-color: #161623;
       color: white;
       margin-top: 150px;
   }
   
   .container.cbox {
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
       max-width: 1200px;
       flex-wrap: nowrap;
       z-index: 1;
   }
   
   .container.cbox .card {
       position: relative;
       width: 280px;
       height: 400px;
       top: 7%;
       margin: 30px;
       box-shadow: 20px 20px 20px rgba(0 0 0 0.5);
       border-radius: 15px;
       background: rgba(255, 255, 255, 0.1);
       overflow: hidden;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       border-top: 1px rgba(255, 255, 255, 0.5);
       border-left: 1px rgba(255, 255, 255, 0.5);
       backdrop-filter: blur(5px);
   }
   
   .container.cbox .card .content {
       padding: 10px;
       text-align: center;
       display: flex;
       flex-direction: column;
   }
   
   .container.cbox .card .content h2 {
       position: absolute;
       top: -30px;
       right: 30px;
       font-size: 8em;
       color: rgba(255, 255, 255, 0.05);
       pointer-events: none;
   }
   
   .container.cbox .card .content h3 {
       font-size: 2em;
       color: #fdc938;
       z-index: 1;
       padding-bottom: 1px;
   }
   
   .container.cbox .card .content p {
       font-size: 1em;
       color: #fdc938;
       font-weight: 300;
   }
   
   .container.cbox .card .content a {
       position: relative;
       display: inline-block;
       padding: 8px 20px;
       margin-top: 15px;
       background: #fdc938;
       color: black;
       border-radius: 20px;
       text-decoration: none;
       font-weight: 500;
       box-shadow: 0 5px 5px rgba(0 0 0 0.5);
   }
   
   .input-box {
       padding-top: 25px;
       padding-bottom: 15px;
   }
   
   form .input-box input {
       align-items: center;
       height: 100%;
       /*  width: 100%; */
       outline: none;
       padding: 0 15px;
       font-size: 17px;
       font-weight: 500;
       color: rgb(10, 8, 1);
       border: 1.5px solid #C7BEBE;
       border-bottom-width: 2.5px;
       border-radius: 6px;
       transition: all 0.3s ease;
   }
   
   .input-box input:focus,
   .input-box input:valid {
       border-color: rgb(248, 198, 59);
   }
   
   .input-box.button input {
       color: #fff;
       letter-spacing: 1px;
       border: none;
       background: #fdc938;
       cursor: pointer;
   }
   
   .input-box.button input:hover {
       background: rgb(255, 216, 113);
   }
   
   .input-box.button {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   @media (max-width:750px) {
       .container.cbox {
           display: flex;
           flex-basis: 100%;
           flex-direction: column;
           flex-wrap: wrap;
           flex-flow: column wrap;
       }
   }
   
   .navbar-brand h1:hover {
       color: gold;
   }
   
   h1 {
       font-weight: 900;
       font-size: 1em;
   }
   
   .navbar-brand,
   .footer .container .row .col-md-5 h5 {
       position: top;
       top: 0;
       display: inline-block;
       text-transform: uppercase;
       letter-spacing: 0.15em;
       transform: rotateX(-90deg);
       animation: navbar-brand 1.2s ease 1 normal forwards;
       transition: all 2s ease-in;
       display: flex;
       flex: row;
       /* -webkit-animation-direction: normal;*/
   }
   
   @keyframes navbar-brand {
       10% {
           opacity: 0.5;
           color: gold;
       }
       20% {
           opacity: 0.8;
           top: 3.75em;
           transform: rotateX(-360deg);
           color: goldenrod;
       }
       100% {
           opacity: 1;
           top: 4.50em;
           transform: rotateX(360deg);
       }
   }
   
   .bg-dark,
   .navbar-expand-lg,
   .navbar {
       background: linear-gradient(45deg, #080719, #B9601C, #F3B94E);
       animation: change 10s ease-in infinite;
   }
   
   @keyframes change {
       0% {
           background-position: 20% 50%;
       }
       50% {
           background-position: 50% 100%;
       }
       100% {
           background-position: 0% 50%;
       }
   }
   /*footer section*/
   
   .footer {
       margin-top: 230px;
       position: relative;
       bottom: 0;
       width: 100%;
       /* Set the fixed height of the footer here */
       height: 290px;
   }
   /* Taller footer on small screens */
   
   @media (max-width:750px) {
       body {
           margin-bottom: 500px;
       }
       .footer {
           height: 270px;
       }
   }
   /* Sticky footer style and color
-------------------------------------------------- */
   
   footer {
       padding-top: 30px;
       background-color: #292c2f;
       color: #bbb;
   }
   
   footer a {
       color: #999;
       text-decoration: none;
   }
   
   footer a:hover,
   footer a:focus {
       color: #aaa;
       text-decoration: none;
       border-bottom: 1px dotted #999;
   }
   
   footer .form-control {
       background-color: #1f2022;
       box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
       border: none;
       resize: none;
       color: #d1d2d2;
       padding: 0.7em 1em;
   }
   
   .copyright {
       text-align: center;
       font-size: 14px;
       margin-top: 5px;
       margin-bottom: 5px;
   }
   
   .card-info {
       display: flex !important;
       flex-direction: column;
   }
   
   .input-box button {
       width: 500px !important;
   }
   
   .navbar-dark .navbar-nav .nav-link {
       font-weight: 900 !important;
   }